body {
  background-color: lightskyblue;
}

.App {
  text-align: center;
}

h1 {
  background-color: deeppink;
  text-align: center;
}

ul {
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
}

img {
  max-width: 30px;
  max-height: 30px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.App-link {
  color: #61dafb;
}

.completed {
  text-decoration: line-through;
}
